@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-gray;
    font-family: "Outfit", sans-serif;
    @apply text-dark-blue;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
